openapi: 3.0.1
info:
  title: Transactional API
  description: "# Introduction \n \nThis API is a service provided by [E-goi](www.e-goi.com)\
    \ to send transactional messages. \n \nTransactional Messaging is a 1-to-1 communication\
    \ channel, usually from an organization directed to a specific consumer.  \nThey\
    \ can be triggered by: \n \n* __Actions__ - The consumer interacts with the organization\
    \ (ie.: online shopping); \n* __Time__ - The consumer's actions are time-bounded\
    \ by the organization (ie.: period of inactivity). \n \nBecause of the nature\
    \ of these messages,  \nit is expected that the consumer is interested in the\
    \ content of these messages.  \nTherefore, they have a different treatment from\
    \ marketing messages, and have a higher acceptance and opening rate. \n \n>DISCLAIMER\
    \ \n> \n>Please notice that this platform is more delicate in regards to the nature\
    \ and processing of its messages. \n> \n>It should NOT be used as a mean of mass\
    \ marketing, scams, phishing or overall unruly behaviour.  \n> \n>Failure to comply\
    \ may lead to limitation of use and even termination of account. \n \n***"
  version: V2
servers:
- url: https://slingshot.egoiapp.com/api/
tags:
- name: Email
  description: "Emails can be send using the API, or using the SMTP Server.  \nThe\
    \ API should be the preferred method, as it is better documented, and have much\
    \ more functionalities. \nHowever, for simple emails, SMTP use is fine. See [below](#section/Authentication)\
    \ for its configuration. \n \nEmails are composed using different sets of information:\
    \ \n \n \nParameter | Description | Examples \n--- | --- | --- \nContacts | All\
    \ contact information. Includes main recipients well as other interested recipients.\
    \ | __To__, __Cc__, __Bcc__, __From__, __Reply-to__ \nContent | The content of\
    \ the message. Includes text (plain text or HTML) and attachments. | __Subject__,\
    \ __Body__ (HTML or Text), __Template__, __Attachments__ \nOptions | The configuration\
    \ of the email to the sender. | __Tracking__, __Registered__, __Header__, __Group/Tag__\
    \ \nStatus | The information about the message after it has been sent. | __Status__\
    \ \n \nThe Sender ___can not___ interact with the status and events.  \nHe can\
    \ only follow and check the state of the message. \n \n \nThe following is a diagram\
    \ of all the states an email can be in. \n \n![states](https://p16.f3.n0.cdn.getcloudapp.com/items/lluJKXbD/EmailStatus.png?v=f3e82040d328a8f221bc8e43e49d7e4a)\
    \ \n \n \nStatus | Description | Is Final? \n--- | --- | --- \ncreated | The message\
    \ is created | No \nqueued | The message is awayting processing | No \nprocessing\
    \ | The message is beeing processed | No \nspool | The message is beeing stored\
    \ and prepared for sending | No \nsending | The email is beeing sent | No \nfinished\
    \ | The message finishes sending | No \nsend_failed | The message failed to be\
    \ sent | Yes \nbroken | The API could not connect to the SMTP Server | Yes \n\
    delivered | The message was delivered | Yes \nrejected | The message was rejected\
    \ based on its content (rejected recipient) | Yes \nbounce_hard | The message\
    \ could not reach the recipient. Though not \"permanent\", retries should not\
    \ be attempted. | Yes \nbounce_soft | The message could not be delivered to the\
    \ recipient, but may be attempted later. | Yes \n \n# Attachments\nEmails can\
    \ have file attachments, whether inline with the email text, or as an attachment.\
    \ The maximum size for an attachment is 25Mb.\\n \n\nAttachments are a special\
    \ feature, available to those who request it. If you wish to send attachments,\
    \  \nplease contact support using the help menu on your [E-Goi Backoffice](https://bo.e-goi.com).\
    \ \n\ninline attachments should be  \nEmails can have file attachments, whether\
    \ inline with the email text, or as an attachment. The maximum size for an attachment\
    \ is 5Mb. Attachments are a special feature, available to those who request it.\
    \ If you wish to send attachments, please contact support using the help menu\
    \ on your [E-Goi Backoffice](https://bo.e-goi.com) \n\nIf you want to send an\
    \ image as an inline attachment, you should include the attachment as followed\
    \ by the documentation, with the disposition \\inline\\. Then, simply add the\
    \ following tag to your message: \n\n``<img src=\\cid:{{index}}\\/>``\n\nPlease\
    \ beware of escaping the quotation marks in the payload. The index is the position\
    \ of the image in the array of attachments, so if the attachment to include is\
    \ in position 0, then the tag should be: \n\n``<img src=\\cid:0\\/>``\n\nFiles\
    \ can be sent using the Mime Type ``x-`` namespace. However, they are considered\
    \ experimental, and mostly are used to support older software. \n\nDocuments <br>\
    \ File Type | Possible Mime Types \n:---: | :---: \n.pdf | application/pdf \n\
    .doc <br> .docx | application/msword \n.ppt <br> .pptx | application/powerpoint\
    \ <br> application/mspowerpoint \n.xls <br> .xlsx | application/excel \n.txt |\
    \ text/plain \n.html | text/html \n\nImages <br> File Type | Possible Mime Types\
    \ \n:---: | :---: \n.jpeg <br> .jpg | image/jpeg \n.png | image/png \n.gif | image/gif\
    \ \n.svg | image/svg+xml \n.bmp | application/bmp \n.psd | application/octet-stream\
    \ \n.ico | image/x-icon \n\nAudio <br> File Type | Possible Mime Types \n:---:\
    \ | :---: \n.mp3 | audio/mpeg \n.wav | audio/wav\n.midi | audio/midi \n\nVideo\
    \ <br> File Type | Possible Mime Types \n:---: | :---: \n.mp4 | video/mpeg \n\
    .avi | video/avi \n\nCompression <br> File Type | Possible Mime Types \n:---:\
    \ | :---: \n.exe | application/octet-stream \n.jar | application/java-archive\
    \ \n.tar | application/x-tar \n.zip | application/x-zip-compressed <br> application/zip\
    \ \n.rar | application/octet-stream <br> application/x-rar-compressed \n\nPlease\
    \ note that some email inboxes block certain file extensions, mostly related to\
    \ code files ( ``.vb``, ``.js``, ``.py``), shell commands (``.bat``, ``.ps1``,\
    \ ``.ksh``, ``.msh``) or executable files (``.exe``, ``.jar``, ``.apk``).  We\
    \ do not advise any attempts to send files of these nature. \n# Registered Messages\n\
    Slingshot allows its users to send emails and Sms through its API, and to keep\
    \ detailed logs from all steps of a message's lifecycle.  \nThis feature is called\
    \ Registered Message. \n \nOur records detail dates and times, sender and recipient\
    \ information, subject and content of the message and its attachments,  \nin addition\
    \ to all other events related:  \nsent, delivery, failed reception, opening and\
    \ clicks recorded - for emails. \n \nTo enable Registered Message in your account,\
    \ please get in touch with our Customer Services team,  \nthrough the HELP separator\
    \ in your e-goi interface, or simply call us. \n***\n\n# Custom Data\nIf you supply\
    \ custom data when sending (via API or SMTP),  \nevery event returned via webhooks\
    \ will contain the message related custom data.  \nThe custom data in the webhook\
    \ will be returned as it was supplied at the time of sending. An example follows.\
    \ \n \nFor instance - if you send an Sms message (via API) using the arguments:\
    \ \n \n``` \n{ \n    \"phone\": \"321-987654321\", \n    \"senderId\": \"2\",\
    \ \n    \"message\": \"An Sms message (with full utf8 support \U0001f44d\")\"\
    , \n    \"customData\": \"{\\\"meta-data\\\", \\\"my relevant metadata\\\"}\"\
    \ \n} \n``` \n \nYou will receive events with the following data (example for\
    \ the processed event): \n  \n``` \n[ \n    { \n        \"data\" : { \n      \
    \      \"recipientMobile\" : \"321-987654321\", \n            \"groupId\" : 1,\
    \ \n            \"recipientId\" : 4, \n            \"senderMobile\" : \"321-987654321\"\
    , \n            \"messageId\" : 1160, \n            \"customData\": \"{\\\"meta-data\\\
    \", \\\"my relevant metadata\\\"}\" \n            \"createDate\" : 1453430810084\
    \ \n        }, \n        \"action\" : \"processed\", \n        \"actionDate\"\
    \ : 1453430810150 \n    } \n] \n```"
- name: Sms
  description: "Sms messages are short (on average 160 char) messages that are sent\
    \ via [GSM](https://en.wikipedia.org/wiki/GSM). \n \nParameter | Description |\
    \ Examples \n--- | --- | --- \nContacts | All contact information. Includes main\
    \ recipientas well as other interested recipients. | __To__, __From__ \nContent\
    \ | The content of the message. Includes text (plain text or HTML) and attachments.\
    \ | __Body__, __Template__ \nOptions | The configuration of the email to the sender.\
    \ | __Tracking__, __Registered__, __Group/Tag__ \nStatus | The information about\
    \ the message after it has been sent. | __Status__ \n \nThe following is a diagram\
    \ of all the states an Sms can be in. \n \n![states](https://p16.f3.n0.cdn.getcloudapp.com/items/eDu14EDY/SmsStatus.png?v=7c5bd5ef2aa9f41a811c147bea2b49fa)\
    \ \n  \nStatus | Description | Is Final? \n--- | ---  | --- \ncreated | The message\
    \ was created | No \nqueued | The message has been queued for processing | No\
    \ \nprocessing | The message is beeing processed | No \nspool | The message is\
    \ awayting sending | No \nsending | The message is being sent by the phone operator\
    \  | No \nfinished | The message is being sent to the phone operator | No \nsend_failed\
    \ | The phone operator ran into an error, and the message could not be delivered\
    \ | Yes \ndelivered | The message has been successfuly delivered to the recipient\
    \ | Yes \nrejected | The message had incongruencies and will not be sent (eg.\
    \ invalid recipient) | Yes \n \n# Restrictions \nDepending on the country a phone\
    \ number belongs to, there may be some restrictions regarding message properties.\
    \ \n \nThe list only presents known restrictions. This means that everything else\
    \ should be allowed. If you find any new restriction please contact us, so that\
    \ we can change and update the list :) \n \n#### Portugal \n \nPortuguese carriers\
    \ do not allow Shortcode Sender IDs (19200). Instead, try to use either international\
    \ numeric senders (351987654321) or alphanumeric senders ('E-goi Support'). \n\
    \ \nRussian senders are filtered by portuguese network providers, so it's advised\
    \ to avoid using them. \n \nSome alphanumeric sender ID's are blocked in Portugal,\
    \ including variations in spelling. The list of Sender ID's are as follows: \n\
    * Vodafone \n* Meo \n* Optimus \n* Zon \n* PTelecom \n* Pt \n* Tmn \n* CavacoSilva\
    \ \n* Vodafone \n* PJ \n* MPublico \n* PSP \n \n#### Brazil \n \nBrazilian Carriers\
    \ are not always guarantee to support international messages. Unicode and Binary\
    \ messages are not supported. Successful delivery of concatenated messages is\
    \ not guaranteed, and is not supported by Oi Network Provider, \n \nSender ID\
    \ of a message is changed to 28908 or a local number to facilitate successful\
    \ delivery of messages. \n \nSMS containing content related to adult, alcohol,\
    \ politics or religion are not allowed, and may be blocked. \n \nSome landline\
    \ numbers maybe converted to mobile numbers, with the information being updated\
    \ once per month. \n \n#### Spain \n \nThere are no known restrictions to Spain.\
    \ However, messages with numeric Sender IDs may travel through an alternate route\
    \ to their destination, potentially increasing the time to deliver. \n \n####\
    \ Colombia \n \nIn order to successfully deliver a message, the Sender ID may\
    \ be changed to a local number (Shortcode 85307 or 87457, or long number).  \n\
    \ \nColombian network operators do not provide delivery receipts, so we can't\
    \ guarantee the message has been delivered. \n \n#### India \n \nTraffic type\
    \ | Content Allowed | Sender ID | Restrictions/Regulation \n--- | --- | --- |\
    \ --- \nDomestic transactional | Transactional traffic, OTP | 6 digit alpha (not\
    \ alphanumeric) with preregistration | The registered Alpha Sender ID will be\
    \ added with 2 letters as a prefix, depending on which carrier was used to deliver\
    \ the SMS to the final operator or 2 random numbers; e.g. MD-XXXXXX (where XXXXXX\
    \ is the registered Sender ID) \nDomestic Promotional (none opted in) | Promo/Marketing\
    \ content | Sender ID not supported and will be change to a random short code\
    \ | Promo sms will be blocked to numbers registered in ´National Do Not Call´\
    \ Registry as per TRAI regulation. <br> Promo sms are only delivered between 9am-9pm\
    \ IST time. <br> SMS outside the time range will be queued and delivered next\
    \ day. \nInternational (transactional/Opted-in Promo) | International originated\
    \ transactional content & Opt-in Promo content. (If client registered in India,but\
    \ sms originated outside India, will be identified as International traffic).\
    \ | Sender ID not supported and will be change to a random short/long virtual\
    \ number | For opted in promo sms, same Regulation apply as in for Domestic Promotional(Opted\
    \ in) listed below. \nInternational Promotional (none opted in)| NA | NA | NA\
    \ \nDomestic Promotional (opted in) | This traffic can only be routed via transactional\
    \ bind with opted in confirmations from each subscriber MSISDN | 6 digit alpha\
    \ (not alphanumeric) with pre-registration | Handling party (customer) of the\
    \ promo content must have subscriber opted in consent per each MSISDN and should\
    \ provide the information to the providers handling the traffic either upfront\
    \ or on demand in an event if the termination party gets a complaint from a mobile\
    \ operator (mobile subscriber complaining to operator for receiving a promo content)\
    \ as proof the subscriber has given consent to receive promo content. Failing\
    \ to do so (not defined the actual time period) provider will be liable for penalty\
    \ charges depend on the number of violations. Need to have contractual provisions\
    \ in order to accept the penalty charges in case of violation. \n \nAny unregistered\
    \ sender ID is overwritten with a local short code as required by Indian regulations,\
    \ whether the destination number is registered on the NDNC list or not. \n \n\
    Messages towards Jammu and Kashmir networks will be blocked by the government\
    \ due to political sensitivity. \n \nSMS containing content related to politics\
    \ during election periods are not allowed. \n*** \n# Registered Messages \nSlingshot\
    \ allows its users to send emails and Sms through its API, and to keep detailed\
    \ logs from all steps of a message's lifecycle.  \nThis feature is called Registered\
    \ Message. \n \nOur records detail dates and times, sender and recipient information,\
    \ subject and content of the message and its attachments,  \nin addition to all\
    \ other events related:  \nsent, delivery, failed reception, opening and clicks\
    \ recorded - for emails. \n \nTo enable Registered Message in your account, please\
    \ get in touch with our Customer Services team,  \nthrough the HELP separator\
    \ in your e-goi interface, or simply call us. \n***\n\n# Custom Data \nIf you\
    \ supply custom data when sending (via API or SMTP),  \nevery event returned via\
    \ webhooks will contain the message related custom data.  \nThe custom data in\
    \ the webhook will be returned as it was supplied at the time of sending. An example\
    \ follows. \n \nFor instance - if you send an Sms message (via API) using the\
    \ arguments: \n \n``` \n{ \n    \"phone\": \"321-987654321\", \n    \"senderId\"\
    : \"2\", \n    \"message\": \"An Sms message (with full utf8 support \U0001f44d\
    \")\", \n    \"customData\": \"{\\\"meta-data\\\", \\\"my relevant metadata\\\"\
    }\" \n} \n``` \n \nYou will receive events with the following data (example for\
    \ the processed event): \n  \n``` \n[ \n    { \n        \"data\" : { \n      \
    \      \"recipientMobile\" : \"321-987654321\", \n            \"groupId\" : 1,\
    \ \n            \"recipientId\" : 4, \n            \"senderMobile\" : \"321-987654321\"\
    , \n            \"messageId\" : 1160, \n            \"customData\": \"{\\\"meta-data\\\
    \", \\\"my relevant metadata\\\"}\" \n            \"createDate\" : 1453430810084\
    \ \n        }, \n        \"action\" : \"processed\", \n        \"actionDate\"\
    \ : 1453430810150 \n    } \n] \n```"
- name: SMTP
  description: "The Transactional SMTP Service consists of a simple SMTP server, listening\
    \ to SSL/TLS connections on port 1587. \n \nTo configure your preferred client\
    \ you need to add an account with the same e-mail as the desired client's user\
    \ -  \nit will be used to identify the real sender in the client list of senders.\
    \  \nFor the example below we will use the sender - info@example.com - and the\
    \ username of client's user account - egoi@example.com. \n \nThe configuration\
    \ for the Outgoing SMTP Server in Thunderbird would be as follows: \n \nParameter\
    \ | Description | Definition/Example  \n--- | --- | --- \nMail Server |  the address\
    \ of the smtp server | bo51.e-goi.com \nPort | the port to connect to the smtp\
    \ | 1587 \nConnection Security | the security type | STARTTLS \nAuthentication\
    \ Method | the authentication method | *password* \nUser Name | the user name\
    \ | *egoi@example.com* \n \nAfter you add this configuration, you can use it by\
    \ sending from the info@example.com account and using the configured SMTP Server.\
    \  \nAfter you hit send the first time, the program should challange you for a\
    \ password to authenticate -  \nuse the password you normally you to access the\
    \ E-Goi Backoffice with the configured User Name (egoi@example.com in this case).\
    \ \n \n```php\n// This example uses PHPMailer \nrequire 'PHPMailerAutoload.php';\
    \ \n \n// Configure PHPMailer instance \n$mail = new PHPMailer; \n$mail->isSMTP();\
    \ \n$mail->SMTPAuth = true; \n$mail->Host = \"bo51.e-goi.com\"; \n$mail->Port\
    \ = 1587; \n$mail->SMTPSecure = \"tls\"; \n \n// Username and Password \n$mail->Username\
    \ = \"egoi@example.com\"; \n$mail->Password = \"the password\"; \n \n// From \n\
    $mail->setFrom('info@example.com', 'Sales Dept.'); \n    // .. or $mail->addCustomHeader('X-Sender-Hash:\
    \ abcdef1234567890abcdef1234567890'); \n \n// Destination \n$mail->addAddress('johndoe@mail.com',\
    \ 'John Doe'); \n    // .. or $mail->addCustomHeader('X-Reply-To-Hash: abcdef1234567890abcdef1234567890');\
    \ \n \n// Set the appropriate encoding for subject/body/alternate \n$mail->CharSet\
    \ = \"UTF-8\"; \n \n$mail->Subject = 'Here is your reciept'; \n \n// The content\
    \ is read from a file on the filesystem \n$mail->msgHTML(file_get_contents(\"\
    /path/to/receipt.html\")); \n \n// [optional] Set the text version of the message\
    \ \n$mail->AltBody = file_get_contents(\"/path/to/receipt.txt\"); \n \n// Define\
    \ custom headers \n$mail->addCustomHeader(\"X-Open-Tracking-Enabled: true\");\
    \ \n$mail->addCustomHeader(\"X-Click-Tracking-Enabled: true\"); \n \n// Define\
    \ Registered headers  \n$mail->addCustomHeader(\"X-Registered: true\"); \n \n\
    // Define message priority (optional)  \n//(X-Priority header is overriden by\
    \ PHPMailer when using addCustomHeader) \n$mail->Priority = \"urgent\"; \n \n\
    //send the message, check for errors \nif (!$mail->send()) { \n    echo \"Mailer\
    \ Error: \" . $mail->ErrorInfo; \n} else { \n    echo \"Message sent!\"; \n} \n\
    ```"
- name: Alerts
  description: "Alert are a routine of messages, prepared in advance, to be triggered\
    \ by events set by the user. \nThe channel of the message can be either Sms or\
    \ Email. \n \nThe Acknowledge Alerts entails two distinct steps: __Create__ and\
    \ __Execute__. \n \n__Create__ is the step where a Acknowledge Alerts flow (or\
    \ template) is set.  \nIt requires some identifying information, as well as the\
    \ message to be sent. \n \n__Execute__ takes the Acknowledge Alerts flow, customizes\
    \ the messages with __To__ addresses and merge tags. \nThen, it starts the flow\
    \ by sending the first message. \n \nWhen the Alarm is executed, the message is\
    \ resent after the interval,  \nunless someone responds to it (Acknowledge) or\
    \ the repetition limit is reached. \n \n![states](https://p16.f3.n0.cdn.getcloudapp.com/items/ApuA0gqj/AlertFlux.png?v=62233c7cc71d9225dcdef6fa00b8fa04)\
    \ \n \nThe alert can be in specific states. the following is a list of states\
    \ an alert can be in. \n \n![states](https://p16.f3.n0.cdn.getcloudapp.com/items/geuwNPD5/AlertStatus.png?v=32f612187ab3b658a5078397c200be71)\
    \ \n \nState | Description | Is Final? \n--- | --- | ---  \npending | The Alert\
    \ has been activated, and its awaiting recipient input | No \nacknowledge | The\
    \ Alert was responded by a recipient | Yes \nnoaction | The Alert was not responded\
    \ by a recipient, having reached the Max Attempts | Yes \ncancelack | The Alert\
    \ was canceled by the sender | Yes;"
- name: Reports
  description: Reports from the various channels from the use of the API
  x-displayName: Reports
- name: Message Information
  description: Get Messages
  x-displayName: Messages
- name: Webhooks
  description: "The transactional WebHooks feature provides a convenient way to follow\
    \ the thread of each message, \nby defining a callback URL to be invoked when\
    \ the message reaches each of the stages in its lifecycle. \n \nYou can use the\
    \ [Create WebHook](#operation/addWebHook) method  \nto configure what actions\
    \ to listen to, and where to send the information.  \nA JSON payload with the\
    \ event's details will be sent (using POST) to the configured URL. \n \nThe event\
    \ JSON payload takes the form of an event list.  \nSeveral events of any stage\
    \ can be sent in a single request to the callback in the form: \n \n``` \n[ \n\
    \  { \n  \"actionDate\": 1442484210599, \n  \"data\": { \n    \"groupId\": 1,\
    \ \n    \"recipientId\": 14, \n    \"messageId\": 2156, \n    \"createDate\":\
    \ 1442484203053, \n    \"recipientEmail\": \"john.doe@example.com\" \n  }, \n\
    \  \"action\": \"processed\" \n  } \n] \n``` \n \n## Email Hooks \n \nThe hooks\
    \ available in a mail message's lifecycle are: \n \n![states](https://p16.f3.n0.cdn.getcloudapp.com/items/L1upjvlG/EmailHooks.png?v=6d5712fcb2a42e49e1c382c132dc3a26)\
    \ \n \nState | Description | Is Final? \n--- | --- | ---  \nprocessed | The message\
    \ was successfully processed and is ready to be sent | No \ncanceled | The recipient's\
    \ status doesn't allow sending | Yes \nsent | The message was successfully sent\
    \ to the destination server. | No \nfailed | The message failed to send because\
    \ of an internal error in the SMTP | Yes \nbounce | The destination server rejected\
    \ the message permanently or temporarily | Yes \ndelivered | The message was delivered\
    \ to the recipient | Yes (if the recipient doesnt open the email) \nview | The\
    \ recipient viewed the message URLs (available only when tracking is enabled)\
    \ | Yes (if recipient doesnt click on the link) \nclick | The recipient clicked\
    \ in any of the message URLs (available only when tracking is enabled) | Yes (if\
    \ the user doesnt report the email) \nabuse | There was a complaint reported on\
    \ the ISP | Yes \n \n \n## Sms Hooks \n \nThe hooks available in a sms message's\
    \ lifecycle are: \n \n![states](https://p16.f3.n0.cdn.getcloudapp.com/items/yAuYE9RR/SmsHooks.png?v=db886756b250e23d9c6b7e0ac4296193)\
    \ \n \nState | Description | Is Final? \n--- | --- | ---  \nprocessed | The message\
    \ was successfully processed and is ready to be sent | No \ncanceled | The message\
    \ failed to send because of an internal error | Yes \nsent | The message was successfully\
    \ sent | No \nfailed | The message failed to send because of an internal error\
    \ | Yes \ndelivered | The message was successfully delivered to it's destination\
    \ | Yes "
- name: Domains
  description: Set up and Manage Domains
- name: Groups
  description: Join multiple Messages with tags
- name: Senders
  description: Check who's sending the messages
  x-displayName: Senders
- name: Utilities
  description: API state and other technical operations
paths:
  /v2/alert/action/execute:
    post:
      tags:
      - Alerts
      summary: Execute Alert
      description: This method executes an alert flow , using a pre-created alert
        template.
      operationId: executeEmailAlert
      requestBody:
        description: default response
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body'
      responses:
        "200":
          description: Email Alert has started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertIdResponse'
        "400":
          description: BAD REQUEST - Request is improperly built. May have missing/incorrect
            parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        "401":
          description: UNAUTHORIZED - The ApiKey is not present in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        "403":
          description: FORBIDDEN - The ApiKey doesn't allow you to make that request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        "500":
          description: INTERNAL SERVER ERROR - The API ran into an error and cannot
            process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
      security:
      - ApiKey: []
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request POST 'slingshot.egoiapp.com/api/v2/alert/action/execute' \
          --header 'ApiKey: ' \
          --header 'Content-Type: application/json' \
          --data-raw '{"alertTemplateName":"<string>","senderId":"<string>","to":[{"email":"<string>","mergeTags":["<string>","<string>"]},{"email":"<string>","mergeTags":["<string>","<string>"]}]}'
      - lang: C#
        source: |-
          var client = new RestClient("slingshot.egoiapp.com/api/v2/alert/action/execute");
          client.Timeout = 30;
          var request = new RestRequest(Method.POST);
          request.AddHeader("ApiKey", "");
          request.AddHeader("Content-Type", "application/json");
          request.AddParameter("application/json", "{\"alertTemplateName\":\"<string>\",\"senderId\":\"<string>\",\"to\":[{\"email\":\"<string>\",\"mergeTags\":[\"<string>\",\"<string>\"]},{\"email\":\"<string>\",\"mergeTags\":[\"<string>\",\"<string>\"]}]}",  ParameterType.RequestBody);
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"alertTemplateName\":\"<string>\",\"senderId\":\"<string>\",\"to\":[{\"email\":\"<string>\",\"mergeTags\":[\"<string>\",\"<string>\"]},{\"email\":\"<string>\",\"mergeTags\":[\"<string>\",\"<string>\"]}]}");
          Request request = new Request.Builder()
              .url("slingshot.egoiapp.com/api/v2/alert/action/execute")
              .method("POST", body)
              .addHeader("ApiKey", "")
              .addHeader("Content-Type", "application/json")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |-
          var data = JSON.stringify({"alertTemplateName":"<string>","senderId":"<string>","to":[{"email":"<string>","mergeTags":["<string>","<string>"]},{"email":"<string>","mergeTags":["<string>","<string>"]}]});

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("POST", "slingshot.egoiapp.com/api/v2/alert/action/execute");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("ApiKey", "");
          xhr.setRequestHeader("Content-Type", "application/json");

          xhr.send(data);
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "slingshot.egoiapp.com/api/v2/alert/action/execute",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS =>"{\"alertTemplateName\":\"<string>\",\"senderId\":\"<string>\",\"to\":[{\"email\":\"<string>\",\"mergeTags\":[\"<string>\",\"<string>\"]},{\"email\":\"<string>\",\"mergeTags\":[\"<string>\",\"<string>\"]}]}",
              CURLOPT_HTTPHEADER => array(
                  "ApiKey: ",
                  "Content-Type: application/json"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("slingshot.egoiapp.com/api", timeout = 30)
          payload = "{\"alertTemplateName\":\"<string>\",\"senderId\":\"<string>\",\"to\":[{\"email\":\"<string>\",\"mergeTags\":[\"<string>\",\"<string>\"]},{\"email\":\"<string>\",\"mergeTags\":[\"<string>\",\"<string>\"]}]}"
          headers = {
              'ApiKey': '',
              'Content-Type': 'application/json'
          }
          conn.request("POST", "/v2/alert/action/execute", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("slingshot.egoiapp.com/api/v2/alert/action/execute")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Post.new(url)
          request["ApiKey"] = ""
          request["Content-Type"] = "application/json"
          request.body = "{\"alertTemplateName\":\"<string>\",\"senderId\":\"<string>\",\"to\":[{\"email\":\"<string>\",\"mergeTags\":[\"<string>\",\"<string>\"]},{\"email\":\"<string>\",\"mergeTags\":[\"<string>\",\"<string>\"]}]}"

          response = http.request(request)
          puts response.read_body
  /v2/alert/action/stop:
    post:
      tags:
      - Alerts
      summary: Stop Alert
      description: This method will stop any alerts that are being processed
      operationId: stopAlert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAlertRequest'
      responses:
        "200":
          description: Alert was cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertIdResponse'
        "400":
          description: BAD REQUEST - Request is improperly built. May have missing/incorrect
            parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        "401":
          description: UNAUTHORIZED - The ApiKey is not present in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        "403":
          description: FORBIDDEN - The ApiKey doesn't allow you to make that request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        "500":
          description: INTERNAL SERVER ERROR - The API ran into an error and cannot
            process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
      security:
      - ApiKey: []
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request POST 'slingshot.egoiapp.com/api/v2/alert/action/stop' \
          --header 'ApiKey: ' \
          --header 'Content-Type: application/json' \
          --data-raw '{"alertName":"<string>"}'
      - lang: C#
        source: |-
          var client = new RestClient("slingshot.egoiapp.com/api/v2/alert/action/stop");
          client.Timeout = 30;
          var request = new RestRequest(Method.POST);
          request.AddHeader("ApiKey", "");
          request.AddHeader("Content-Type", "application/json");
          request.AddParameter("application/json", "{\"alertName\":\"<string>\"}",  ParameterType.RequestBody);
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"alertName\":\"<string>\"}");
          Request request = new Request.Builder()
              .url("slingshot.egoiapp.com/api/v2/alert/action/stop")
              .method("POST", body)
              .addHeader("ApiKey", "")
              .addHeader("Content-Type", "application/json")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |-
          var data = JSON.stringify({"alertName":"<string>"});

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("POST", "slingshot.egoiapp.com/api/v2/alert/action/stop");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("ApiKey", "");
          xhr.setRequestHeader("Content-Type", "application/json");

          xhr.send(data);
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "slingshot.egoiapp.com/api/v2/alert/action/stop",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS =>"{\"alertName\":\"<string>\"}",
              CURLOPT_HTTPHEADER => array(
                  "ApiKey: ",
                  "Content-Type: application/json"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("slingshot.egoiapp.com/api", timeout = 30)
          payload = "{\"alertName\":\"<string>\"}"
          headers = {
              'ApiKey': '',
              'Content-Type': 'application/json'
          }
          conn.request("POST", "/v2/alert/action/stop", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("slingshot.egoiapp.com/api/v2/alert/action/stop")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Post.new(url)
          request["ApiKey"] = ""
          request["Content-Type"] = "application/json"
          request.body = "{\"alertName\":\"<string>\"}"

          response = http.request(request)
          puts response.read_body
  /v2/alert/template/{id}:
    get:
      tags:
      - Alerts
      summary: Get Single Alert Template
      description: This method returns the Alert Template wih the id in the path
      operationId: listMultiChannel
      parameters:
      - name: id
        in: path
        description: The id of the Alert Template
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 1234
      responses:
        "200":
          description: Return the Alert Template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertTemplateResponse'
        "401":
          description: UNAUTHORIZED - The ApiKey is not present in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        "403":
          description: FORBIDDEN - The ApiKey doesn't allow you to make that request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        "404":
          description: NOT FOUND - The requested object was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        "500":
          description: INTERNAL SERVER ERROR - The API ran into an error and cannot
            process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
      security:
      - ApiKey: []
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request GET 'slingshot.egoiapp.com/api/v2/alert/template/<string>' \
          --header 'ApiKey: '
      - lang: C#
        source: |-
          var client = new RestClient("slingshot.egoiapp.com/api/v2/alert/template/<string>");
          client.Timeout = 30;
          var request = new RestRequest(Method.GET);
          request.AddHeader("ApiKey", "");
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          Request request = new Request.Builder()
              .url("slingshot.egoiapp.com/api/v2/alert/template/<string>")
              .method("GET", null)
              .addHeader("ApiKey", "")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |2-

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("GET", "slingshot.egoiapp.com/api/v2/alert/template/<string>");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("ApiKey", "");

          xhr.send();
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "slingshot.egoiapp.com/api/v2/alert/template/<string>",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                  "ApiKey: "
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("slingshot.egoiapp.com/api", timeout = 30)
          payload = ''
          headers = {
              'ApiKey': ''
          }
          conn.request("GET", "/v2/alert/template/<string>", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("slingshot.egoiapp.com/api/v2/alert/template/<string>")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Get.new(url)
          request["ApiKey"] = ""

          response = http.request(request)
          puts response.read_body
    delete:
      tags:
      - Alerts
      summary: Remove Alert Template
      description: This method removes an Alert Template from the system
      operationId: removeAlertTemplate
      parameters:
      - name: id
        in: path
        description: The id of the Alert Template to remove
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 1234
      responses:
        "204":
          description: The Alert Template was deleted
          content: {}
        "401":
          description: UNAUTHORIZED - The ApiKey is not present in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        "403":
          description: FORBIDDEN - The ApiKey doesn't allow you to make that request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        "404":
          description: NOT FOUND - The requested object was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        "500":
          description: INTERNAL SERVER ERROR - The API ran into an error and cannot
            process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
      security:
      - ApiKey: []
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request DELETE 'slingshot.egoiapp.com/api/v2/alert/template/<string>' \
          --header 'ApiKey: '
      - lang: C#
        source: |-
          var client = new RestClient("slingshot.egoiapp.com/api/v2/alert/template/<string>");
          client.Timeout = 30;
          var request = new RestRequest(Method.DELETE);
          request.AddHeader("ApiKey", "");
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("text/plain");
          RequestBody body = RequestBody.create(mediaType, "");
          Request request = new Request.Builder()
              .url("slingshot.egoiapp.com/api/v2/alert/template/<string>")
              .method("DELETE", body)
              .addHeader("ApiKey", "")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |2-

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("DELETE", "slingshot.egoiapp.com/api/v2/alert/template/<string>");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("ApiKey", "");

          xhr.send();
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "slingshot.egoiapp.com/api/v2/alert/template/<string>",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => array(
                  "ApiKey: "
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("slingshot.egoiapp.com/api", timeout = 30)
          payload = ''
          headers = {
              'ApiKey': ''
          }
          conn.request("DELETE", "/v2/alert/template/<string>", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("slingshot.egoiapp.com/api/v2/alert/template/<string>")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Delete.new(url)
          request["ApiKey"] = ""

          response = http.request(request)
          puts response.read_body
    patch:
      tags:
      - Alerts
      summary: Change Single Alert Template
      description: This method will change information about the template
      operationId: changeAlertTemplate
      parameters:
      - name: id
        in: path
        description: The id of the Alert Template to edit
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 1234
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AlertTemplateRequest'
      responses:
        "200":
          description: Alert Template was changed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AlertTemplateResponse'
        "400":
          description: BAD REQUEST - Request is improperly built. May have missing/incorrect
            parameters
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error400'
        "401":
          description: UNAUTHORIZED - The ApiKey is not present in the request.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error401'
        "403":
          description: FORBIDDEN - The ApiKey doesn't allow you to make that request.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error403'
        "500":
          description: INTERNAL SERVER ERROR - The API ran into an error and cannot
            process the request.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error500'
      security:
      - ApiKey: []
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request PATCH 'slingshot.egoiapp.com/api/v2/alert/template/<string>' \
          --header 'ApiKey: ' \
          --header 'Content-Type: */*' \
          --data-raw '{"interval":"<integer>","maxAttempts":"<integer>","name":"<string>","templateId":"<string>","subject":"<string>","htmlBody":"<string>","textBody":"<string>"}'
      - lang: C#
        source: |-
          var client = new RestClient("slingshot.egoiapp.com/api/v2/alert/template/<string>");
          client.Timeout = 30;
          var request = new RestRequest(Method.PATCH);
          request.AddHeader("ApiKey", "");
          request.AddHeader("Content-Type", "*/*");
          request.AddParameter("*/*", "{\"interval\":\"<integer>\",\"maxAttempts\":\"<integer>\",\"name\":\"<string>\",\"templateId\":\"<string>\",\"subject\":\"<string>\",\"htmlBody\":\"<string>\",\"textBody\":\"<string>\"}",  ParameterType.RequestBody);
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("*/*");
          RequestBody body = RequestBody.create(mediaType, "{\"interval\":\"<integer>\",\"maxAttempts\":\"<integer>\",\"name\":\"<string>\",\"templateId\":\"<string>\",\"subject\":\"<string>\",\"htmlBody\":\"<string>\",\"textBody\":\"<string>\"}");
          Request request = new Request.Builder()
              .url("slingshot.egoiapp.com/api/v2/alert/template/<string>")
              .method("PATCH", body)
              .addHeader("ApiKey", "")
              .addHeader("Content-Type", "*/*")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |-
          var data = "{\"interval\":\"<integer>\",\"maxAttempts\":\"<integer>\",\"name\":\"<string>\",\"templateId\":\"<string>\",\"subject\":\"<string>\",\"htmlBody\":\"<string>\",\"textBody\":\"<string>\"}";

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("PATCH", "slingshot.egoiapp.com/api/v2/alert/template/<string>");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("ApiKey", "");
          xhr.setRequestHeader("Content-Type", "*/*");

          xhr.send(data);
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "slingshot.egoiapp.com/api/v2/alert/template/<string>",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "PATCH",
              CURLOPT_POSTFIELDS =>"{\"interval\":\"<integer>\",\"maxAttempts\":\"<integer>\",\"name\":\"<string>\",\"templateId\":\"<string>\",\"subject\":\"<string>\",\"htmlBody\":\"<string>\",\"textBody\":\"<string>\"}",
              CURLOPT_HTTPHEADER => array(
                  "ApiKey: ",
                  "Content-Type: */*"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("slingshot.egoiapp.com/api", timeout = 30)
          payload = "{\"interval\":\"<integer>\",\"maxAttempts\":\"<integer>\",\"name\":\"<string>\",\"templateId\":\"<string>\",\"subject\":\"<string>\",\"htmlBody\":\"<string>\",\"textBody\":\"<string>\"}"
          headers = {
              'ApiKey': '',
              'Content-Type': '*/*'
          }
          conn.request("PATCH", "/v2/alert/template/<string>", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("slingshot.egoiapp.com/api/v2/alert/template/<string>")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Patch.new(url)
          request["ApiKey"] = ""
          request["Content-Type"] = "*/*"
          request.body = "{\"interval\":\"<integer>\",\"maxAttempts\":\"<integer>\",\"name\":\"<string>\",\"templateId\":\"<string>\",\"subject\":\"<string>\",\"htmlBody\":\"<string>\",\"textBody\":\"<string>\"}"

          response = http.request(request)
          puts response.read_body
  /v2/alert/template:
    get:
      tags:
      - Alerts
      summary: Get All Alert Template
      description: This method returns all the Alert Templates
      operationId: listMultiChannel_1
      responses:
        "200":
          description: Returns the Alert Templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AlertTemplateResponse'
                x-content-type: application/json
        "401":
          description: UNAUTHORIZED - The ApiKey is not present in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        "403":
          description: FORBIDDEN - The ApiKey doesn't allow you to make that request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        "500":
          description: INTERNAL SERVER ERROR - The API ran into an error and cannot
            process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
      security:
      - ApiKey: []
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request GET 'slingshot.egoiapp.com/api/v2/alert/template' \
          --header 'ApiKey: '
      - lang: C#
        source: |-
          var client = new RestClient("slingshot.egoiapp.com/api/v2/alert/template");
          client.Timeout = 30;
          var request = new RestRequest(Method.GET);
          request.AddHeader("ApiKey", "");
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          Request request = new Request.Builder()
              .url("slingshot.egoiapp.com/api/v2/alert/template")
              .method("GET", null)
              .addHeader("ApiKey", "")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |2-

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("GET", "slingshot.egoiapp.com/api/v2/alert/template");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("ApiKey", "");

          xhr.send();
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "slingshot.egoiapp.com/api/v2/alert/template",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                  "ApiKey: "
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("slingshot.egoiapp.com/api", timeout = 30)
          payload = ''
          headers = {
              'ApiKey': ''
          }
          conn.request("GET", "/v2/alert/template", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("slingshot.egoiapp.com/api/v2/alert/template")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Get.new(url)
          request["ApiKey"] = ""

          response = http.request(request)
          puts response.read_body
    post:
      tags:
      - Alerts
      summary: Create Alert Template
      description: This method will create and add an alert template
      operationId: createAlertTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertTemplateRequest'
      responses:
        "200":
          description: Alert Template was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertTemplateIdResponse'
        "400":
          description: BAD REQUEST - Request is improperly built. May have missing/incorrect
            parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        "401":
          description: UNAUTHORIZED - The ApiKey is not present in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        "403":
          description: FORBIDDEN - The ApiKey doesn't allow you to make that request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        "500":
          description: INTERNAL SERVER ERROR - The API ran into an error and cannot
            process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
      security:
      - ApiKey: []
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request POST 'slingshot.egoiapp.com/api/v2/alert/template' \
          --header 'ApiKey: ' \
          --header 'Content-Type: application/json' \
          --data-raw '{"interval":"<integer>","maxAttempts":"<integer>","name":"<string>","templateId":"<string>","subject":"<string>","htmlBody":"<string>","textBody":"<string>"}'
      - lang: C#
        source: |-
          var client = new RestClient("slingshot.egoiapp.com/api/v2/alert/template");
          client.Timeout = 30;
          var request = new RestRequest(Method.POST);
          request.AddHeader("ApiKey", "");
          request.AddHeader("Content-Type", "application/json");
          request.AddParameter("application/json", "{\"interval\":\"<integer>\",\"maxAttempts\":\"<integer>\",\"name\":\"<string>\",\"templateId\":\"<string>\",\"subject\":\"<string>\",\"htmlBody\":\"<string>\",\"textBody\":\"<string>\"}",  ParameterType.RequestBody);
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"interval\":\"<integer>\",\"maxAttempts\":\"<integer>\",\"name\":\"<string>\",\"templateId\":\"<string>\",\"subject\":\"<string>\",\"htmlBody\":\"<string>\",\"textBody\":\"<string>\"}");
          Request request = new Request.Builder()
              .url("slingshot.egoiapp.com/api/v2/alert/template")
              .method("POST", body)
              .addHeader("ApiKey", "")
              .addHeader("Content-Type", "application/json")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |-
          var data = JSON.stringify({"interval":"<integer>","maxAttempts":"<integer>","name":"<string>","templateId":"<string>","subject":"<string>","htmlBody":"<string>","textBody":"<string>"});

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("POST", "slingshot.egoiapp.com/api/v2/alert/template");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("ApiKey", "");
          xhr.setRequestHeader("Content-Type", "application/json");

          xhr.send(data);
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "slingshot.egoiapp.com/api/v2/alert/template",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS =>"{\"interval\":\"<integer>\",\"maxAttempts\":\"<integer>\",\"name\":\"<string>\",\"templateId\":\"<string>\",\"subject\":\"<string>\",\"htmlBody\":\"<string>\",\"textBody\":\"<string>\"}",
              CURLOPT_HTTPHEADER => array(
                  "ApiKey: ",
                  "Content-Type: application/json"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("slingshot.egoiapp.com/api", timeout = 30)
          payload = "{\"interval\":\"<integer>\",\"maxAttempts\":\"<integer>\",\"name\":\"<string>\",\"templateId\":\"<string>\",\"subject\":\"<string>\",\"htmlBody\":\"<string>\",\"textBody\":\"<string>\"}"
          headers = {
              'ApiKey': '',
              'Content-Type': 'application/json'
          }
          conn.request("POST", "/v2/alert/template", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("slingshot.egoiapp.com/api/v2/alert/template")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Post.new(url)
          request["ApiKey"] = ""
          request["Content-Type"] = "application/json"
          request.body = "{\"interval\":\"<integer>\",\"maxAttempts\":\"<integer>\",\"name\":\"<string>\",\"templateId\":\"<string>\",\"subject\":\"<string>\",\"htmlBody\":\"<string>\",\"textBody\":\"<string>\"}"

          response = http.request(request)
          puts response.read_body
  /v2/domain/{id}/validate:
    get:
      tags:
      - Domains
      summary: Validate Single Domain
      description: Clears the validation cache and validates the supplied configured
        Domain.
      operationId: validateDomain
      parameters:
      - name: id
        in: path
        description: The id of the Domain
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 1234
      responses:
        "200":
          description: The result of the Domain validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateDomainResponse'
        "401":
          description: UNAUTHORIZED - The ApiKey is not present in the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        "403":
          description: FORBIDDEN - The ApiKey doesn't allow you to make that request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        "404":
          description: NOT FOUND - The requested object was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        "500":
          description: INTERNAL SERVER ERROR - The API ran into an error and cannot
            process the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
      security:
      - ApiKey: []
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request GET 'slingshot.egoiapp.com/api/v2/domain/<string>/validate' \
          --header 'ApiKey: '
      - lang: C#
        source: |-
          var client = new RestClient("slingshot.egoiapp.com/api/v2/domain/<string>/validate");
          client.Timeout = 30;
          var request = new RestRequest(Method.GET);
          request.AddHeader("ApiKey", "");
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          Request request = new Request.Builder()
              .url("slingshot.egoiapp.com/api/v2/domain/<string>/validate")
              .method("GET", null)
              .addHeader("ApiKey", "")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |2-

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("GET", "slingshot.egoiapp.com/api/v2/domain/<string>/validate");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("ApiKey", "");

          xhr.send();
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "slingshot.egoiapp.com/api/v2/domain/<string>/validate",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                  "ApiKey: "
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("slingshot.egoiapp.com/api", timeout = 30)
          payload = ''
          headers = {
              'ApiKey': ''
          }
          conn.request("GET", "/v2/domain/<string>/validate", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("slingshot.egoiapp.com/api/v2/domain/<string>/validate")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Get.new(url)
          request["ApiKey"] = ""

          response = http.request(request)
          puts response.read_body
  /v2/domain/{id}:
    get:
      tags:
      - Domains
      summary: Get Single Domain
      description: Retrieve the Domain with the id in the path.
      operationId: listDomain
      parameters:
      - name: id
        in: path
        description: The id of the Verify Request
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 1234
      responses:
        "200":
          description: The Email Domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
        "401":
          description: UNAUTHORIZED - The ApiKey is not present in the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        "403":
          description: FORBIDDEN - The ApiKey doesn't allow you to make that request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        "404":
          description: NOT FOUND - The requested object was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        "500":
          description: INTERNAL SERVER ERROR - The API ran into an error and cannot
            process the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
      security:
      - ApiKey: []
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request GET 'slingshot.egoiapp.com/api/v2/domain/<string>' \
          --header 'ApiKey: '
      - lang: C#
        source: |-
          var client = new RestClient("slingshot.egoiapp.com/api/v2/domain/<string>");
          client.Timeout = 30;
          var request = new RestRequest(Method.GET);
          request.AddHeader("ApiKey", "");
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          Request request = new Request.Builder()
              .url("slingshot.egoiapp.com/api/v2/domain/<string>")
              .method("GET", null)
              .addHeader("ApiKey", "")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |2-

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("GET", "slingshot.egoiapp.com/api/v2/domain/<string>");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("ApiKey", "");

          xhr.send();
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "slingshot.egoiapp.com/api/v2/domain/<string>",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                  "ApiKey: "
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("slingshot.egoiapp.com/api", timeout = 30)
          payload = ''
          headers = {
              'ApiKey': ''
          }
          conn.request("GET", "/v2/domain/<string>", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("slingshot.egoiapp.com/api/v2/domain/<string>")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Get.new(url)
          request["ApiKey"] = ""

          response = http.request(request)
          puts response.read_body
  /v2/domain/default:
    get:
      tags:
      - Domains
      summary: Get Default Domain
      description: Retrieve the currently configured default Domain. If no default
        domain is set, the list will be empty.
      operationId: listDefaultDomain
      responses:
        "200":
          description: The Default Email Domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
        "401":
          description: UNAUTHORIZED - The ApiKey is not present in the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        "403":
          description: FORBIDDEN - The ApiKey doesn't allow you to make that request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        "500":
          description: INTERNAL SERVER ERROR - The API ran into an error and cannot
            process the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
      security:
      - ApiKey: []
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request GET 'slingshot.egoiapp.com/api/v2/domain/default' \
          --header 'ApiKey: '
      - lang: C#
        source: |-
          var client = new RestClient("slingshot.egoiapp.com/api/v2/domain/default");
          client.Timeout = 30;
          var request = new RestRequest(Method.GET);
          request.AddHeader("ApiKey", "");
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          Request request = new Request.Builder()
              .url("slingshot.egoiapp.com/api/v2/domain/default")
              .method("GET", null)
              .addHeader("ApiKey", "")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |2-

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("GET", "slingshot.egoiapp.com/api/v2/domain/default");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("ApiKey", "");

          xhr.send();
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "slingshot.egoiapp.com/api/v2/domain/default",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                  "ApiKey: "
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("slingshot.egoiapp.com/api", timeout = 30)
          payload = ''
          headers = {
              'ApiKey': ''
          }
          conn.request("GET", "/v2/domain/default", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("slingshot.egoiapp.com/api/v2/domain/default")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Get.new(url)
          request["ApiKey"] = ""

          response = http.request(request)
          puts response.read_body
    post:
      tags:
      - Domains
      summary: Change Default Domain
      description: Change the currently configured default Domain
      operationId: changeDefaultDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DefaultDomainRequest'
      responses:
        "200":
          description: The default domain has been changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
        "401":
          description: UNAUTHORIZED - The ApiKey is not present in the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        "403":
          description: FORBIDDEN - The ApiKey doesn't allow you to make that request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        "404":
          description: NOT FOUND - The requested object was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        "500":
          description: INTERNAL SERVER ERROR - The API ran into an error and cannot
            process the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
      security:
      - ApiKey: []
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request POST 'slingshot.egoiapp.com/api/v2/domain/default' \
          --header 'ApiKey: ' \
          --header 'Content-Type: application/json' \
          --data-raw '{"domainId":"<string>"}'
      - lang: C#
        source: |-
          var client = new RestClient("slingshot.egoiapp.com/api/v2/domain/default");
          client.Timeout = 30;
          var request = new RestRequest(Method.POST);
          request.AddHeader("ApiKey", "");
          request.AddHeader("Content-Type", "application/json");
          request.AddParameter("application/json", "{\"domainId\":\"<string>\"}",  ParameterType.RequestBody);
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"domainId\":\"<string>\"}");
          Request request = new Request.Builder()
              .url("slingshot.egoiapp.com/api/v2/domain/default")
              .method("POST", body)
              .addHeader("ApiKey", "")
              .addHeader("Content-Type", "application/json")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |-
          var data = JSON.stringify({"domainId":"<string>"});

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("POST", "slingshot.egoiapp.com/api/v2/domain/default");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("ApiKey", "");
          xhr.setRequestHeader("Content-Type", "application/json");

          xhr.send(data);
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "slingshot.egoiapp.com/api/v2/domain/default",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS =>"{\"domainId\":\"<string>\"}",
              CURLOPT_HTTPHEADER => array(
                  "ApiKey: ",
                  "Content-Type: application/json"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("slingshot.egoiapp.com/api", timeout = 30)
          payload = "{\"domainId\":\"<string>\"}"
          headers = {
              'ApiKey': '',
              'Content-Type': 'application/json'
          }
          conn.request("POST", "/v2/domain/default", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("slingshot.egoiapp.com/api/v2/domain/default")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Post.new(url)
          request["ApiKey"] = ""
          request["Content-Type"] = "application/json"
          request.body = "{\"domainId\":\"<string>\"}"

          response = http.request(request)
          puts response.read_body
  /v2/domain:
    get:
      tags:
      - Domains
      summary: Get All Domains
      description: Retrieve the list of all Domains available for the sender to the
        recipients.
      operationId: listDomains
      responses:
        "200":
          description: The list of Email Domains
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainResponse'
                x-content-type: application/json
        "401":
          description: UNAUTHORIZED - The ApiKey is not present in the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        "403":
          description: FORBIDDEN - The ApiKey doesn't allow you to make that request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        "500":
          description: INTERNAL SERVER ERROR - The API ran into an error and cannot
            process the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
      security:
      - ApiKey: []
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request GET 'slingshot.egoiapp.com/api/v2/domain' \
          --header 'ApiKey: '
      - lang: C#
        source: |-
          var client = new RestClient("slingshot.egoiapp.com/api/v2/domain");
          client.Timeout = 30;
          var request = new RestRequest(Method.GET);
          request.AddHeader("ApiKey", "");
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          Request request = new Request.Builder()
              .url("slingshot.egoiapp.com/api/v2/domain")
              .method("GET", null)
              .addHeader("ApiKey", "")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |2-

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("GET", "slingshot.egoiapp.com/api/v2/domain");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("ApiKey", "");

          xhr.send();
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "slingshot.egoiapp.com/api/v2/domain",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                  "ApiKey: "
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("slingshot.egoiapp.com/api", timeout = 30)
          payload = ''
          headers = {
              'ApiKey': ''
          }
          conn.request("GET", "/v2/domain", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("slingshot.egoiapp.com/api/v2/domain")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Get.new(url)
          request["ApiKey"] = ""

          response = http.request(request)
          puts response.read_body
    post:
      tags:
      - Domains
      summary: Create New Domain
      description: Add a new Domain to the list of available Domains for the sender
        to the recipient.
      operationId: addDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRequest'
      responses:
        "201":
          description: The Domain was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
        "400":
          description: BAD REQUEST - Request is improperly built. May have missing/incorrect
            parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        "401":
          description: UNAUTHORIZED - The ApiKey is not present in the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        "403":
          description: FORBIDDEN - The ApiKey doesn't allow you to make that request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        "500":
          description: INTERNAL SERVER ERROR - The API ran into an error and cannot
            process the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
      security:
      - ApiKey: []
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request POST 'slingshot.egoiapp.com/api/v2/domain' \
          --header 'ApiKey: ' \
          --header 'Content-Type: application/json' \
          --data-raw '{"type":"boolean","description":"Option to set the domain as default.","example":false,"default":false}'
      - lang: C#
        source: |-
          var client = new RestClient("slingshot.egoiapp.com/api/v2/domain");
          client.Timeout = 30;
          var request = new RestRequest(Method.POST);
          request.AddHeader("ApiKey", "");
          request.AddHeader("Content-Type", "application/json");
          request.AddParameter("application/json", "{\"type\":\"boolean\",\"description\":\"Option to set the domain as default.\",\"example\":false,\"default\":false}",  ParameterType.RequestBody);
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          MediaType mediaType = MediaType.parse("application/json");
          RequestBody body = RequestBody.create(mediaType, "{\"type\":\"boolean\",\"description\":\"Option to set the domain as default.\",\"example\":false,\"default\":false}");
          Request request = new Request.Builder()
              .url("slingshot.egoiapp.com/api/v2/domain")
              .method("POST", body)
              .addHeader("ApiKey", "")
              .addHeader("Content-Type", "application/json")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |-
          var data = JSON.stringify({"type":"boolean","description":"Option to set the domain as default.","example":false,"default":false});

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("POST", "slingshot.egoiapp.com/api/v2/domain");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("ApiKey", "");
          xhr.setRequestHeader("Content-Type", "application/json");

          xhr.send(data);
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "slingshot.egoiapp.com/api/v2/domain",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS =>"{\"type\":\"boolean\",\"description\":\"Option to set the domain as default.\",\"example\":false,\"default\":false}",
              CURLOPT_HTTPHEADER => array(
                  "ApiKey: ",
                  "Content-Type: application/json"
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("slingshot.egoiapp.com/api", timeout = 30)
          payload = "{\"type\":\"boolean\",\"description\":\"Option to set the domain as default.\",\"example\":false,\"default\":false}"
          headers = {
              'ApiKey': '',
              'Content-Type': 'application/json'
          }
          conn.request("POST", "/v2/domain", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

          url = URI("slingshot.egoiapp.com/api/v2/domain")

          http = Net::HTTP.new(url.host, url.port);
          http.read_timeout = 1
          request = Net::HTTP::Post.new(url)
          request["ApiKey"] = ""
          request["Content-Type"] = "application/json"
          request.body = "{\"type\":\"boolean\",\"description\":\"Option to set the domain as default.\",\"example\":false,\"default\":false}"

          response = http.request(request)
          puts response.read_body
  /v2/groups:
    get:
      tags:
      - Groups
      summary: Get All Groups
      description: Retrieve all groups to sort messages
      operationId: listGroups
      parameters:
      - name: channel
        in: query
        description: The channel of the groups. Can be `email` or `sms`, otherwise
          returns all groups.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Returns the groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupResponse'
                x-content-type: application/json
        "400":
          description: BAD REQUEST - Request is improperly built. May have missing/incorrect
            parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        "401":
          description: UNAUTHORIZED - The ApiKey is not present in the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        "403":
          description: FORBIDDEN - The ApiKey doesn't allow you to make that request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        "500":
          description: INTERNAL SERVER ERROR - The API ran into an error and cannot
            process the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
      security:
      - ApiKey: []
      x-code-samples:
      - lang: cURL
        source: |-
          curl --location --max-time 30 --request GET 'slingshot.egoiapp.com/api/v2/groups?channel=<string>' \
          --header 'ApiKey: '
      - lang: C#
        source: |-
          var client = new RestClient("slingshot.egoiapp.com/api/v2/groups?channel=<string>");
          client.Timeout = 30;
          var request = new RestRequest(Method.GET);
          request.AddHeader("ApiKey", "");
          IRestResponse response = client.Execute(request);
          Console.WriteLine(response.Content);
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient().newBuilder()
              .setConnectTimeout(30, TimeUnit.MILLISECONDS)
              .build();
          Request request = new Request.Builder()
              .url("slingshot.egoiapp.com/api/v2/groups?channel=<string>")
              .method("GET", null)
              .addHeader("ApiKey", "")
              .build();
          Response response = client.newCall(request).execute();
      - lang: JavaScript
        source: |2-

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function() {
              if(this.readyState === 4) {
                  console.log(this.responseText);
              }
          });

          xhr.open("GET", "slingshot.egoiapp.com/api/v2/groups?channel=<string>");
          xhr.timeout = 30;
          xhr.addEventListener("ontimeout", function(e) {
               console.log(e);
          });
          xhr.setRequestHeader("ApiKey", "");

          xhr.send();
      - lang: PHP
        source: |
          <?php

          $curl = curl_init();

          curl_setopt_array($curl, array(
              CURLOPT_URL => "slingshot.egoiapp.com/api/v2/groups?channel=<string>",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_FOLLOWLOCATION => true,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                  "ApiKey: "
              ),
          ));

          $response = curl_exec($curl);

          curl_close($curl);
          echo $response;
      - lang: Python
        source: |-
          import http.client
          import mimetypes
          conn = http.client.HTTPSConnection("slingshot.egoiapp.com/api", timeout = 30)
          payload = ''
          headers = {
              'ApiKey': ''
          }
          conn.request("GET", "/v2/groups?channel=<string>", payload, headers)
          res = conn.getresponse()
          data = res.read()
          print(data.decode("utf-8"))
      - lang: Ruby
        source: |
          require "uri"
          require "net/http"

[...]
